<table class="table is-bordered">
    <thead>
        <tr>
            <th>Size</th>
            <th>Icon</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>BootstrapIconSize.None</code></td>
            <td><BootstrapIcon Name="BootstrapIconName.Search" Color="BootstrapIconColor.Primary" Size="BootstrapIconSize.None" /></td>
        </tr>
        <tr>
            <td><code>BootstrapIconSize.XSmall</code></td>
            <td><BootstrapIcon Name="BootstrapIconName.Search" Color="BootstrapIconColor.Primary" Size="BootstrapIconSize.XSmall" /></td>
        </tr>
        <tr>
            <td><code>BootstrapIconSize.Small</code></td>
            <td><BootstrapIcon Name="BootstrapIconName.Search" Color="BootstrapIconColor.Primary" Size="BootstrapIconSize.Small" /></td>
        </tr>
        <tr>
            <td><code>BootstrapIconSize.Medium</code></td>
            <td><BootstrapIcon Name="BootstrapIconName.Search" Color="BootstrapIconColor.Primary" Size="BootstrapIconSize.Medium" /></td>
        </tr>
        <tr>
            <td><code>BootstrapIconSize.Large</code></td>
            <td><BootstrapIcon Name="BootstrapIconName.Search" Color="BootstrapIconColor.Primary" Size="BootstrapIconSize.Large" /></td>
        </tr>
        <tr>
            <td><code>BootstrapIconSize.XLarge</code></td>
            <td><BootstrapIcon Name="BootstrapIconName.Search" Color="BootstrapIconColor.Primary" Size="BootstrapIconSize.XLarge" /></td>
        </tr>
        <tr>
            <td><code>BootstrapIconSize.XXLarge</code></td>
            <td><BootstrapIcon Name="BootstrapIconName.Search" Color="BootstrapIconColor.Primary" Size="BootstrapIconSize.XXLarge" /></td>
        </tr>
    </tbody>
</table>