<div class="content">
    <p><strong>Border</strong></p>
    <div class="is-flex is-align-items-center is-flex-wrap-wrap mb-4" style="gap: 1rem;">
        <Spinner Color="SpinnerColor.Primary" />
        <Spinner Color="SpinnerColor.Link" />
        <Spinner Color="SpinnerColor.Info" />
        <Spinner Color="SpinnerColor.Success" />
        <Spinner Color="SpinnerColor.Warning" />
        <Spinner Color="SpinnerColor.Danger" />
        <Spinner Color="SpinnerColor.Dark" />
    </div>

    <p><strong>Grow</strong></p>
    <div class="is-flex is-align-items-center is-flex-wrap-wrap mb-4" style="gap: 1rem;">
        <Spinner Color="SpinnerColor.Primary" Type="SpinnerType.Grow" />
        <Spinner Color="SpinnerColor.Link" Type="SpinnerType.Grow" />
        <Spinner Color="SpinnerColor.Info" Type="SpinnerType.Grow" />
        <Spinner Color="SpinnerColor.Success" Type="SpinnerType.Grow" />
        <Spinner Color="SpinnerColor.Warning" Type="SpinnerType.Grow" />
        <Spinner Color="SpinnerColor.Danger" Type="SpinnerType.Grow" />
        <Spinner Color="SpinnerColor.Dark" Type="SpinnerType.Grow" />
    </div>

    <p><strong>Dots</strong></p>
    <div class="is-flex is-align-items-center is-flex-wrap-wrap" style="gap: 1rem;">
        <Spinner Color="SpinnerColor.Primary" Type="SpinnerType.Dots" />
        <Spinner Color="SpinnerColor.Link" Type="SpinnerType.Dots" />
        <Spinner Color="SpinnerColor.Info" Type="SpinnerType.Dots" />
        <Spinner Color="SpinnerColor.Success" Type="SpinnerType.Dots" />
        <Spinner Color="SpinnerColor.Warning" Type="SpinnerType.Dots" />
        <Spinner Color="SpinnerColor.Danger" Type="SpinnerType.Dots" />
        <Spinner Color="SpinnerColor.Dark" Type="SpinnerType.Dots" />
    </div>
</div>
