<div class="is-flex is-align-items-center is-flex-wrap-wrap" style="gap: 1.5rem;">
    <div class="has-text-centered">
        <Spinner Color="SpinnerColor.Primary" />
        <div class="mt-2">Border</div>
    </div>
    <div class="has-text-centered">
        <Spinner Color="SpinnerColor.Info" Type="SpinnerType.Grow" />
        <div class="mt-2">Grow</div>
    </div>
    <div class="has-text-centered">
        <Spinner Color="SpinnerColor.Success" Type="SpinnerType.Dots" />
        <div class="mt-2">Dots</div>
    </div>
</div>
