<div class="content">
    <p><strong>Border</strong></p>
    <div class="is-flex is-align-items-center is-flex-wrap-wrap mb-4" style="gap: 1rem;">
        <Spinner Color="SpinnerColor.Primary" Size="SpinnerSize.Small" />
        <Spinner Color="SpinnerColor.Primary" Size="SpinnerSize.Normal" />
        <Spinner Color="SpinnerColor.Primary" Size="SpinnerSize.Medium" />
        <Spinner Color="SpinnerColor.Primary" Size="SpinnerSize.Large" />
    </div>

    <p><strong>Grow</strong></p>
    <div class="is-flex is-align-items-center is-flex-wrap-wrap mb-4" style="gap: 1rem;">
        <Spinner Color="SpinnerColor.Primary" Type="SpinnerType.Grow" Size="SpinnerSize.Small" />
        <Spinner Color="SpinnerColor.Primary" Type="SpinnerType.Grow" Size="SpinnerSize.Normal" />
        <Spinner Color="SpinnerColor.Primary" Type="SpinnerType.Grow" Size="SpinnerSize.Medium" />
        <Spinner Color="SpinnerColor.Primary" Type="SpinnerType.Grow" Size="SpinnerSize.Large" />
    </div>

    <p><strong>Dots</strong></p>
    <div class="is-flex is-align-items-center is-flex-wrap-wrap" style="gap: 1rem;">
        <Spinner Color="SpinnerColor.Primary" Type="SpinnerType.Dots" Size="SpinnerSize.Small" />
        <Spinner Color="SpinnerColor.Primary" Type="SpinnerType.Dots" Size="SpinnerSize.Normal" />
        <Spinner Color="SpinnerColor.Primary" Type="SpinnerType.Dots" Size="SpinnerSize.Medium" />
        <Spinner Color="SpinnerColor.Primary" Type="SpinnerType.Dots" Size="SpinnerSize.Large" />
    </div>
</div>
