<Modal @ref="modalRef">
    <TitleContent>
        Modal title
    </TitleContent>
    <BodyContent>
        Content goes here.
    </BodyContent>
    <FootContent>
        <Buttons>
            <Button Color="ButtonColor.Primary">Save changes</Button>
            <Button @onclick="HideModal">Cancel</Button>
        </Buttons>
    </FootContent>
</Modal>

<Button Color="ButtonColor.Link" Size="ButtonSize.Small" @onclick="ShowModal">Show Modal</Button>

@code {
    private Modal modalRef = default!;

    private void HideModal() => modalRef.Hide();

    private void ShowModal() => modalRef.Show();
}