<Modal IsActive="isModalVisible">
    <ModalContent>
        <Box>
            Modal content text goes here.
        </Box>
    </ModalContent>
</Modal>

<Button Color="ButtonColor.Link" Size="ButtonSize.Small" @onclick="ShowModal">Show Modal</Button>

@code{
    private bool isModalVisible = false;

    private void ShowModal()
    {
        isModalVisible = true;
    }
}