<Dropdown>
    <DropdownTrigger>
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Dropdown button</span>
            <span class="icon is-small">
                <i class="bi bi-chevron-down" aria-hidden="true"></i>
            </span>
        </button>
    </DropdownTrigger>
    <DropdownContent>
        <DropdownLinkItem Href="#"> Dropdown link item </DropdownLinkItem>
        <DropdownItem> Other dropdown item </DropdownItem>
        <DropdownItem> Active dropdown item </DropdownItem>
        <DropdownItem> Other dropdown item </DropdownItem>
        <DropdownDivider />
        <DropdownItem> With a divider </DropdownItem>
    </DropdownContent>
</Dropdown>