<Dropdown>
    <DropdownTrigger>
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Dropdown button</span>
            <span class="icon is-small">
                <i class="bi bi-chevron-down" aria-hidden="true"></i>
            </span>
        </button>
    </DropdownTrigger>
    <DropdownContent>
        <DropdownLinkItem Href="#"> Dropdown item </DropdownLinkItem>
        <DropdownLinkItem Href="#"> Other dropdown item </DropdownLinkItem>
        <DropdownLinkItem Href="#" IsActive="true"> Active dropdown item </DropdownLinkItem>
        <DropdownLinkItem Href="#"> Other dropdown item </DropdownLinkItem>
        <DropdownDivider />
        <DropdownLinkItem Href="#"> With a divider </DropdownLinkItem>
    </DropdownContent>
</Dropdown>