<Dropdown IsHoverable="true">
    <DropdownTrigger>
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Dropdown button</span>
            <span class="icon is-small">
                <i class="bi bi-chevron-down" aria-hidden="true"></i>
            </span>
        </button>
    </DropdownTrigger>
    <DropdownContent>
        <DropdownItem>
            <p>
                You can insert <strong>any type of content</strong> within the
                dropdown menu.
            </p>
        </DropdownItem>
    </DropdownContent>
</Dropdown>