<div style="justify-self: self-end;">
    <Dropdown IsRight="true">
        <DropdownTrigger>
            <BootstrapIcon Name="BootstrapIconName.ThreeDotsVertical" role="button" />
        </DropdownTrigger>
        <DropdownContent>
            <DropdownLinkItem Href="#"> Overview </DropdownLinkItem>
            <DropdownLinkItem Href="#"> Block </DropdownLinkItem>
            <DropdownLinkItem Href="#"> Box </DropdownLinkItem>
            <DropdownLinkItem Href="#"> Progress Bar </DropdownLinkItem>
            <DropdownLinkItem Href="#"> Pdf Viewer </DropdownLinkItem>
            <DropdownLinkItem Href="#"> Bootstrap Icons </DropdownLinkItem>
            <DropdownLinkItem Href="#"> Google Maps </DropdownLinkItem>
        </DropdownContent>
    </Dropdown>
</div>