<Dropdown>
    <DropdownTrigger>
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Left aligned</span>
            <span class="icon is-small">
                <i class="bi bi-chevron-down" aria-hidden="true"></i>
            </span>
        </button>
    </DropdownTrigger>
    <DropdownContent>
        <DropdownItem>
            <p>The dropdown is <strong>left-aligned</strong> by default.</p>
        </DropdownItem>
    </DropdownContent>
</Dropdown>

<Dropdown IsRight="true">
    <DropdownTrigger>
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Right aligned</span>
            <span class="icon is-small">
                <i class="bi bi-chevron-down" aria-hidden="true"></i>
            </span>
        </button>
    </DropdownTrigger>
    <DropdownContent>
        <DropdownItem>
            <p>
                Add the <code>is-right</code> modifier for a
                <strong>right-aligned</strong> dropdown.
            </p>
        </DropdownItem>
    </DropdownContent>
</Dropdown>