<Buttons Size="ButtonSize.Large">
    <Button Color="ButtonColor.Primary">Primary</Button>
    <Button Color="ButtonColor.Link">Link</Button>
    <Button Color="ButtonColor.Info">Info</Button>
    <Button Color="ButtonColor.Success">Success</Button>
    <Button Color="ButtonColor.Warning" Size="ButtonSize.Normal">Warning</Button>
    <Button Color="ButtonColor.Danger">Danger</Button>
</Buttons>