<table class="table is-bordered">
    <thead>
        <tr>
            <th>Size</th>
            <th>Icon</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>GoogleFontIconSize.None</code></td>
            <td><GoogleFontIcon Name="GoogleFontIconName.Search" Color="GoogleFontIconColor.Primary" Size="GoogleFontIconSize.None" /></td>
        </tr>
        <tr>
            <td><code>GoogleFontIconSize.XSmall</code></td>
            <td><GoogleFontIcon Name="GoogleFontIconName.Search" Color="GoogleFontIconColor.Primary" Size="GoogleFontIconSize.XSmall" /></td>
        </tr>
        <tr>
            <td><code>GoogleFontIconSize.Small</code></td>
            <td><GoogleFontIcon Name="GoogleFontIconName.Search" Color="GoogleFontIconColor.Primary" Size="GoogleFontIconSize.Small" /></td>
        </tr>
        <tr>
            <td><code>GoogleFontIconSize.Medium</code></td>
            <td><GoogleFontIcon Name="GoogleFontIconName.Search" Color="GoogleFontIconColor.Primary" Size="GoogleFontIconSize.Medium" /></td>
        </tr>
        <tr>
            <td><code>GoogleFontIconSize.Large</code></td>
            <td><GoogleFontIcon Name="GoogleFontIconName.Search" Color="GoogleFontIconColor.Primary" Size="GoogleFontIconSize.Large" /></td>
        </tr>
        <tr>
            <td><code>GoogleFontIconSize.XLarge</code></td>
            <td><GoogleFontIcon Name="GoogleFontIconName.Search" Color="GoogleFontIconColor.Primary" Size="GoogleFontIconSize.XLarge" /></td>
        </tr>
        <tr>
            <td><code>GoogleFontIconSize.XXLarge</code></td>
            <td><GoogleFontIcon Name="GoogleFontIconName.Search" Color="GoogleFontIconColor.Primary" Size="GoogleFontIconSize.XXLarge" /></td>
        </tr>
    </tbody>
</table>
