<DateInput TValue="DateOnly?" @bind-Value="@enteredDate" EnableMaxMin="true" Max="2024-02-28" />
<div class="mb-3">Entered date: @enteredDate</div>

@code {
    private DateOnly? enteredDate = null;
}