@attribute [Route(pageRoute)]

<PageTitle>@title</PageTitle>

<PageHero Title="Box">
    <SubTitleTemplate>
        A white <b>box</b> to contain other elements
    </SubTitleTemplate>
</PageHero>

<Section Class="p-0" Size="HeadingSize.H3" Name="Example" PageUrl="@pageUrl" Link="example">
    <Demo Class="mb-3" Type="typeof(Box_Demo_01_How_it_works_A)" Tabs="true" />
    <Demo Class="mb-3" Type="typeof(Box_Demo_01_How_it_works_B)" Tabs="true" />
    <Demo Type="typeof(Box_Demo_01_How_it_works_C)" Tabs="true" />
</Section>

@code{
    const string pageRoute = RouteConstants.Demos_Box_Documentation;
    private string pageUrl = pageRoute;
    private string title = "Blazor Bulma Box Component";
    private string description = ""; // TODO: update
    private string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
