@attribute [Route(pageRoute)]

<PageTitle>@title</PageTitle>

<h1>Box</h1>

<SectionHeading Size="HeadingSize.H2" Text="Example" PageUrl="@pageUrl" HashTagName="example" />
<Demo Type="typeof(Box_Demo_01_How_it_works_A)" Tabs="true" />
<Demo Type="typeof(Box_Demo_01_How_it_works_B)" Tabs="true" />
<Demo Type="typeof(Box_Demo_01_How_it_works_C)" Tabs="true" />

@code{
    const string pageRoute = "/box";
    private string pageUrl = pageRoute;
    private string title = "Blazor Bulma Box Component";
    private string description = ""; // TODO: update
    private string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
