<Notification Color="NotificationColor.Danger">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nulla facilisi. Sed fermentum, nunc a <strong>gravida consectetur</strong>,
    eros velit ultricies nulla, nec scelerisque nunc risus id neque.
    Fusce id ligula in odio gravida feugiat. Vestibulum venenatis,
    arcu ut <a>pretium sollicitudin</a>, ligula metus convallis risus,
    at vulputate felis ligula a nisl. Integer posuere, nisi eget
    tristique malesuada, purus sapien <em>suscipit ligula</em>, ut iaculis ipsum
    justo eget mauris. Curabitur et felis sed odio tempor dictum nec ut eros.
    Aliquam erat volutpat.
</Notification>
