<Card style="max-width: 30rem;">
    <CardImage>
        <figure class="image is-4by3">
            <img src="@DemoScreenshotSrcConstants.Image" alt="Image component screenshot used inside a card" />
        </figure>
    </CardImage>
    <CardContent>
        <div class="content">
            Use <code>CardImage</code> when you want rich visual content at the top of the card.
            <br />
            <small>This example reuses a local demo asset to keep the sample self-contained.</small>
        </div>
    </CardContent>
</Card>
