<Card style="max-width: 30rem;">
    <CardContent>
        <div class="content">
            Footer items are handy for secondary actions like sharing, bookmarking, or navigation.
        </div>
    </CardContent>
    <CardFooter>
        <CardFooterItem Href="https://github.com/BlazorExpress/BlazorExpress.Bulma/issues/40">Issue</CardFooterItem>
        <CardFooterItem Href="https://bulma.io/documentation/components/card/">Spec</CardFooterItem>
        <CardFooterItem Href="@DemoRouteConstants.Docs_Card_Documentation">API</CardFooterItem>
    </CardFooter>
</Card>
