@attribute [Route(pageRoute)]

<PageTitle>@title</PageTitle>

<div>
Home page
</div>

@code {
    const string pageRoute = "/";
    private string pageUrl = pageRoute;
    private string title = "Blazor Bulma Demos";
    private string description = ""; // TODO: update
    private string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
