@attribute [Route(pageRoute)]

<PageTitle>@title</PageTitle>

<PageHero Title="Hero">
    <SubTitleTemplate>
        An imposing <b>hero banner</b> to showcase something
    </SubTitleTemplate>
</PageHero>

<Section Class="p-0" Size="HeadingSize.H3" Name="Example" PageUrl="@pageUrl" Link="example">
    <Demo Type="typeof(Hero_Demo_01_How_it_works)" Tabs="true" />
</Section>

@code{
    const string pageRoute = RouteConstants.Demos_Hero_Documentation;
    private string pageUrl = pageRoute;
    private string title = "Blazor Bulma Hero Component";
    private string description = ""; // TODO: update
    private string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
