@attribute [Route(pageRoute)]

<PageTitle>@title</PageTitle>

<h1>Hero</h1>

<SectionHeading Size="HeadingSize.H2" Text="Example" PageUrl="@pageUrl" HashTagName="example" />
<Demo Type="typeof(Hero_Demo_01_How_it_works)" Tabs="true" />

@code{
    const string pageRoute = RouteConstants.Demos_Hero_Documentation;
    private string pageUrl = pageRoute;
    private string title = "Blazor Bulma Hero Component";
    private string description = ""; // TODO: update
    private string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
