@namespace BlazorExpress.Bulma.Demo.RCL
@inherits ComponentBase

<div>
    <DynamicComponent Type="this.Type" />
</div>
@* <div>
    <pre>
        <code>
            @if(codeSnippet is not null)
            {
                <text>@codeSnippet.Trim()</text>
            }
        </code>
    </pre>
</div> *@
