@namespace BlazorExpress.Bulma.Demo.RCL
@inherits BulmaComponentBase

@if (TitleTemplate is not null)
{
    <h1 class="title is-1">@TitleTemplate</h1>
}
else
{
    <h1 class="title is-1">@Title</h1>
}
<hr class="be-doc-hr be-doc-hr-title" />
@if (SubTitleTemplate is not null)
{
    <h2 class="subtitle be-subtitle">@SubTitleTemplate</h2>
}
else if (string.IsNullOrWhiteSpace(SubTitle))
{
    <h2 class="subtitle be-subtitle">@SubTitle</h2>
}