<BootstrapIcon Name="BootstrapIconName.ReplyAllFill" IsSkeleton="isSkeleton" />
<BootstrapIcon Name="BootstrapIconName.ReplyFill" IsSkeleton="isSkeleton" />
<br /><br />
<GoogleFontIcon Name="GoogleFontIconName.Home" IsSkeleton="isSkeleton" />
<GoogleFontIcon Name="GoogleFontIconName.ThumbUp" IsSkeleton="isSkeleton" />

<div class="mt-5">
    <Button Color="ButtonColor.Dark" Size="ButtonSize.Small" @onclick="ToggleSkeletonAsync">Toggle Skeleton</Button>
</div>

@code {
    bool isSkeleton = false;

    async Task ToggleSkeletonAsync()
    {
        isSkeleton = true;
        await Task.Delay(3000);
        isSkeleton = false;
    }
}