<NumberInput TValue="int?" @bind-Value="enteredValue" IsRounded="true" Placeholder="Rounded number input" />
<div class="my-3">Entered value: @enteredValue</div>

@code {
    private int? enteredValue = null;
}