<div class="field">
    <label class="label">Item Price: <span class="has-text-danger">*</span></label>
    <div class="control">
        <NumberInput TValue="decimal?"
                     Value="price"
                     ValueExpression="() => price"
                     ValueChanged="(value) => PriceChanged(value)"
                     Placeholder="Enter price" />
    </div>
</div>
<div class="mb-3">
    @displayPrice
</div>

@code {
    private decimal? price = 10M;
    private string? displayPrice;

    private void PriceChanged(decimal? value)
    {
        price = value; // this is mandatory
        displayPrice = $"Price: {value}, changed at {DateTime.Now.ToLocalTime()}.";
    }
}