@attribute [Route(pageRoute)]

<PageTitle>@title</PageTitle>

<h1 class="title is-1">Message</h1>
<h2 class="subtitle">Colored <b>message</b> blocks, to emphasize part of your page</h2>

<Section Class="p-0" Size="HeadingSize.H3" Name="Example" PageUrl="@pageUrl" Link="example">
    <Demo Type="typeof(Message_Demo_01_How_it_works)" Tabs="true" />
</Section>

@code {
    const string pageRoute = RouteConstants.Demos_Message_Documentation;
    private string pageUrl = pageRoute;
    private string title = "Blazor Bulma Message Component";
    private string description = ""; // TODO: update
    private string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
