:root {
    /* navbar */
    --be-navbar-min-height: 0;
    --be-navbar-height: 52px;
    /* menu */
    --be-menu-width: 16rem;
    --be-menu-border: 2px;
    --be-menu-background-offset: 9%;
    --be-menu-border-offset: -6%;
    --be-menu-item-margin: 4px 0;
}

[data-theme=dark] {
    --be-menu-background-offset: 0%;
    --be-menu-border-offset: 2%;
}

/* layout */
html {
    overflow-y: hidden;
}

.be-page {
    position: relative;
    display: flex !important;
    flex-direction: column !important;
}

@media screen and (width > 768px) {
    .be-page {
        flex-direction: row !important;
    }
}

.be-page-menu, .be-page-body {
    overflow-y: auto;
    height: calc(100vh - var(--be-navbar-height));
}

@media screen and (width > 768px) {
    .be-page-body {
        width: calc(100vw - var(--be-menu-width));
        height: calc(100vh - var(--be-navbar-height));
    }
}

@media screen and (width > 768px) {
    .navbar-burger.custom {
        display: none;
    }
}

/* navbar */
.navbar-brand > a.navbar-item:hover, .navbar-brand > a.navbar-item:focus {
    --bulma-navbar-item-background-a: 0 !important;
}

.navbar-item.has-dropdown {
    padding: inherit;
}

/* menu */
.menu.is-scrollable {
    height: calc(100vh - var(--be-navbar-height));
}

.menu-item {
    margin: var(--be-menu-item-margin) !important;
}

    .menu-item a {
        background-color: transparent;
    }

    .menu-item:has(a.active) {
        --bulma-menu-item-background-l-delta: -5%;
    }

/* tabs */
.tabs-content > .tab-content {
    display: none;
}

    .tabs-content > .tab-content.is-active {
        display: block !important;
    }

/* custom */
[role=button] {
    cursor: pointer;
}

.menu-toggle-button {
    --bulma-button-border-width: 0px;
    background-color: var(--bulma-scheme-main-ter);
    box-shadow: none;
    color: var(--bulma-text-weak);
    height: 2.5em;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    padding: 0 !important;
    width: 2.5em
}

@media print,screen and (min-width: 769px) {
    .menu-toggle-button {
        display: none;
    }

        .menu-toggle-button.is-active {
            display: block;
            margin: 0 0 -2.5em;
            margin-left: calc(var(--p)*-.5);
            margin-top: calc(var(--p)*-.5);
            position: sticky;
            top: 1.5rem;
            z-index: 1
        }
}
