.menu {
    background-color: hsl(221, 14%,calc(100% + -1%));
    z-index: 11;
}

/* drak mode */
/*.menu {
    background-color: hsl(221, 14%,calc(9% + 1%));
    z-index: 11;
}*/

/*@media screen and (max-width: 768px) {
    .menu {
        position: absolute;
        right: 100%;
        top: 0;
        transition-duration: var(--bulma-duration);
        transition-property: transform;*/
        /*width: var(--menu-width);*/
    /*}
}*/
