.menu {
    background-color: hsl(var(--bulma-scheme-h),var(--bulma-scheme-s),calc(var(--bulma-scheme-main-l) + var(--be-menu-background-offset)));
    border-right: 0;
}

@media screen and (width > 768px) {
    .menu {
        background-color: hsl(var(--bulma-scheme-h),var(--bulma-scheme-s),calc(var(--bulma-scheme-main-l) + var(--be-menu-background-offset)));
        border-right: var(--be-menu-border) solid hsl(var(--bulma-scheme-h),var(--bulma-scheme-s),calc(var(--bulma-scheme-main-l) + var(--be-menu-border-offset)));
        width: var(--be-menu-width);
    }
}
