<Tabs @ref="tabsRef">
    <Tab Title="Home">
        <div class="pt-3">This is the placeholder content for the <b>Home</b> tab.</div>
    </Tab>
    <Tab Title="Profile">
        <div class="pt-3">This is the placeholder content for the <b>Profile</b> tab.</div>
    </Tab>
    <Tab Title="Contact">
        <div class="pt-3">This is the placeholder content for the <b>Contact</b> tab.</div>
    </Tab>
    <Tab Title="Products" Name="Products">
        <div class="pt-3">This is the placeholder content for the <b>Products</b> tab.</div>
    </Tab>
    <Tab Title="FAQs" Name="FAQs">
        <div class="pt-3">This is the placeholder content for the <b>FAQs</b> tab.</div>
    </Tab>
    <Tab Title="About">
        <div class="pt-3">This is the placeholder content for the <b>About</b> tab.</div>
    </Tab>
</Tabs>

<Buttons Class="mt-5">
    <Button Color="ButtonColor.Primary" Size="ButtonSize.Small" @onclick="() => tabsRef.ShowFirstTab()">First Tab</Button>
    <Button Color="ButtonColor.Link" Size="ButtonSize.Small" @onclick="() => tabsRef.ShowTabByIndex(1)">Second Tab</Button>
    <Button Color="ButtonColor.Info" Size="ButtonSize.Small" @onclick="() => tabsRef.ShowTabByIndex(2)">Third Tab</Button>
    <Button Color="ButtonColor.Success" Size="ButtonSize.Small" @onclick="ShowProductsTab">Products Tab</Button>
    <Button Color="ButtonColor.Warning" Size="ButtonSize.Small" @onclick="ShowFAQsTab">FAQs Tab</Button>
    <Button Color="ButtonColor.Danger" Size="ButtonSize.Small" @onclick="() => tabsRef.ShowLastTab()">Last Tab</Button>
</Buttons>

@code{
    Tabs tabsRef = default!;

    private void ShowProductsTab() => tabsRef.ShowTabByName("Products");
    private void ShowFAQsTab() => tabsRef.ShowTabByName("FAQs");
}
