@attribute [Route(pageRoute)]

<PageTitle>@title</PageTitle>

<h1 class="title is-1">Block</h1>
<h2 class="subtitle">Bulma’s most basic spacer <b>block</b></h2>



<section class="section p-0">
    <div class="container is-mobile">
        <h1 class="title">
            Hello World
        </h1>
        <p class="subtitle">
            Since the release of v1, the main version also works in RTL contexts, thanks to the use of logical properties. As a result, no separate RTL version of Bulma is developed anymore.
            Bulma is also available via cdnjs.
        </p>
        <div>
            Since the release of v1, the main version also works in RTL contexts, thanks to the use of logical properties. As a result, no separate RTL version of Bulma is developed anymore.
            Bulma is also available via cdnjs.

            Since the release of v1, the main version also works in RTL contexts, thanks to the use of logical properties. As a result, no separate RTL version of Bulma is developed anymore.
            Bulma is also available via cdnjs.

            Since the release of v1, the main version also works in RTL contexts, thanks to the use of logical properties. As a result, no separate RTL version of Bulma is developed anymore.
            Bulma is also available via cdnjs.

            Since the release of v1, the main version also works in RTL contexts, thanks to the use of logical properties. As a result, no separate RTL version of Bulma is developed anymore.
            Bulma is also available via cdnjs.

            Since the release of v1, the main version also works in RTL contexts, thanks to the use of logical properties. As a result, no separate RTL version of Bulma is developed anymore.
            Bulma is also available via cdnjs.

            Since the release of v1, the main version also works in RTL contexts, thanks to the use of logical properties. As a result, no separate RTL version of Bulma is developed anymore.
            Bulma is also available via cdnjs.
        </div>
    </div>
</section>

<SectionHeading Size="HeadingSize.H3" Text="Example" PageUrl="@pageUrl" HashTagName="example" />
@* <Demo Type="typeof(Block_Demo_01_How_it_works)" Tabs="true" /> *@

@code{
    const string pageRoute = RouteConstants.Demos_Block_Documentation;
    private string pageUrl = pageRoute;
    private string title = "Blazor Bulma Block Component";
    private string description = ""; // TODO: update
    private string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}
