<Tabs Type="TabsType.Rounded">
    <Tab Title="Pictures" IsActive="true">
        <div class="pt-3">This is the placeholder content for the <b>Pictures</b> tab.</div>
    </Tab>
    <Tab Title="Music">
        <div class="pt-3">This is the placeholder content for the <b>Music</b> tab.</div>
    </Tab>
    <Tab Title="Videos">
        <div class="pt-3">This is the placeholder content for the <b>Videos</b> tab.</div>
    </Tab>
    <Tab Title="Documents">
        <div class="pt-3">This is the placeholder content for the <b>Documents</b> tab.</div>
    </Tab>
</Tabs>
