<Tabs @ref="tabsRef">
    <Tab Title="Home">
        This is the placeholder content for the Home tab.
    </Tab>
    <Tab Title="Profile">
        This is the placeholder content for the Profile tab.
    </Tab>
    <Tab Title="Contact">
        This is the placeholder content for the Contact tab.
    </Tab>
    <Tab Title="Products" Name="Products">
        This is the placeholder content for the Products tab.
    </Tab>
    <Tab Title="FAQs" Name="FAQs">
        This is the placeholder content for the FAQs tab.
    </Tab>
    <Tab Title="About">
        This is the placeholder content for the About tab.
    </Tab>
</Tabs>

<Buttons Class="mt-5">
    <Button Color="ButtonColor.Primary" Size="ButtonSize.Small" @onclick="() => tabsRef.ShowFirstTab()">First Tab</Button>
    <Button Color="ButtonColor.Link" Size="ButtonSize.Small" @onclick="() => tabsRef.ShowTabByIndex(1)">Second Tab</Button>
    <Button Color="ButtonColor.Info" Size="ButtonSize.Small" @onclick="() => tabsRef.ShowTabByIndex(2)">Third Tab</Button>
    <Button Color="ButtonColor.Success" Size="ButtonSize.Small" @onclick="ShowProductsTab">Products Tab</Button>
    <Button Color="ButtonColor.Warning" Size="ButtonSize.Small" @onclick="ShowFAQsTab">FAQs Tab</Button>
    <Button Color="ButtonColor.Danger" Size="ButtonSize.Small" @onclick="() => tabsRef.ShowLastTab()">Last Tab</Button>
</Buttons>

@code{
    Tabs tabsRef = default!;

    private void ShowProductsTab() => tabsRef.ShowTabByName("Products");
    private void ShowFAQsTab() => tabsRef.ShowTabByName("FAQs");
}
