<div class="table-container">
    <table class="table is-bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>Fixed size</td>
                <td>Responsive size</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Default</td>
                <td><Button>Default</Button></td>
                <td><Button IsResponsive="true">Default</Button></td>
            </tr>
            <tr>
                <td>Small</td>
                <td><Button Size="ButtonSize.Small">Small</Button></td>
                <td><Button Size="ButtonSize.Small" IsResponsive="true">Small</Button></td>
            </tr>
            <tr>
                <td>Normal</td>
                <td><Button Size="ButtonSize.Normal">Normal</Button></td>
                <td><Button Size="ButtonSize.Normal" IsResponsive="true">Normal</Button></td>
            </tr>
            <tr>
                <td>Medium</td>
                <td><Button Size="ButtonSize.Medium">Medium</Button></td>
                <td><Button Size="ButtonSize.Medium" IsResponsive="true">Medium</Button></td>
            </tr>
            <tr>
                <td>Large</td>
                <td><Button Size="ButtonSize.Large">Large</Button></td>
                <td><Button Size="ButtonSize.Large" IsResponsive="true">Large</Button></td>
            </tr>
        </tbody>
    </table>
</div>