<Buttons>
    <Button Type="ButtonType.Link" IsDisabled="true">Anchor</Button>
    <Button IsDisabled="true">Default</Button>
    <Button Color="ButtonColor.Primary" IsDisabled="true">Primary</Button>
    <Button Color="ButtonColor.Link" IsDisabled="true">Link</Button>
    <Button Color="ButtonColor.Info" IsDisabled="true">Info</Button>
    <Button Color="ButtonColor.Success" IsDisabled="true">Success</Button>
    <Button Color="ButtonColor.Warning" IsDisabled="true">Warning</Button>
    <Button Color="ButtonColor.Danger" IsDisabled="true">Danger</Button>
</Buttons>