<div style="max-width: 18rem;">
    <Menu>
        <MenuLabel>Navigation</MenuLabel>
        <MenuList>
            <MenuItem Href="@DemoRouteConstants.Demos_Menu_Documentation" Match="MenuItemMatch.All">Menu</MenuItem>
            <MenuItem Href="@DemoRouteConstants.Demos_Breadcrumb_Documentation" IsActive="true">Breadcrumb</MenuItem>
            <MenuItem Href="@DemoRouteConstants.Demos_Pagination_Documentation">Pagination</MenuItem>
        </MenuList>
    </Menu>
</div>
