<Icon BootstrapIcon="BootstrapIconName.ReplyAllFill" IsSkeleton="isSkeleton" />
<Icon BootstrapIcon="BootstrapIconName.ReplyFill" IsSkeleton="isSkeleton" />

<div class="mt-5">
    <Button Color="ButtonColor.Dark" Size="ButtonSize.Small" @onclick="ToggleSkeletonAsync">Toggle Skeleton</Button>
</div>

@code {
    bool isSkeleton = false;

    async Task ToggleSkeletonAsync()
    {
        isSkeleton = true;
        await Task.Delay(3000);
        isSkeleton = false;
    }
}