<div class="control">
    <RadioInput Name="disabled-contact-method" Value="true" Disabled="true">
        Email
    </RadioInput>
    <RadioInput Name="disabled-contact-method" Value="false" Disabled="true">
        SMS
    </RadioInput>
</div>
