@namespace BlazorExpress.Bulma.Demo.RCL
@inherits ComponentBase
@typeparam TItem

<tr>
    <td class="has-text-primary text-opacity-75">@MethodName</td>
    <td class="has-text-danger text-opacity-75">@ReturnType</td>
    <td>@Description</td>
    <td>@AddedVersion</td>
</tr>