@namespace BlazorExpress.Bulma.Demo.RCL
@inherits ComponentBase
@typeparam TItem

<tr>
    <td>@MethodName</td>
    <td class="has-text-danger">@ReturnTypeShortName</td>
    <td>@Description</td>
    <td>@AddedVersion</td>
</tr>