<Buttons>
    <Button Size="ButtonSize.Small" IsFullWidth="true">Small</Button>
    <Button IsFullWidth="true">Default</Button>
    <Button Size="ButtonSize.Normal" IsFullWidth="true">Normal</Button>
    <Button Size=" ButtonSize.Medium" IsFullWidth="true">Medium</Button>
    <Button Size=" ButtonSize.Large" IsFullWidth="true">Large</Button>
</Buttons>