<Buttons>
    <Button IsLoading="true">Primary</Button>
    <Button Color="ButtonColor.Primary" IsLoading="true">Primary</Button>
    <Button Color="ButtonColor.Link" IsLoading="true">Link</Button>
    <Button Color="ButtonColor.Info" IsLoading="true">Info</Button>
    <Button Color="ButtonColor.Success" IsLoading="true">Success</Button>
    <Button Color="ButtonColor.Warning" IsLoading="true">Warning</Button>
    <Button Color="ButtonColor.Danger" IsLoading="true">Danger</Button>
</Buttons>