<div class="buttons">
    <Button Size="ButtonSize.Small">Small</Button>
    <Button>Default</Button>
    <Button Size="ButtonSize.Normal">Normal</Button>
    <Button Size=" ButtonSize.Medium">Medium</Button>
    <Button Size=" ButtonSize.Large">Large</Button>
</div>